<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 50%;">
        <h4 style="font-family:'Courier New', Courier, monospace; color: cadetblue;">Appmart Tooling Service Mail</h4>
        <h4 style="font-family:'Courier New', Courier, monospace; color: cadetblue;">Below is your Login Details</h4>
        <p> <span  style="font-family:'Courier New', Courier, monospace; color: cadetblue;"> Email Address:</span> {{email}} </p>
        <p> <span style="font-family:'Courier New', Courier, monospace; color: cadetblue;">Password:</span>{{password}} </p>
    </div>
</body>
</html>